.BODY
{
  text-align: center;
  font-weight: bold;
  background-color: #282828;
  letter-spacing: 2px;
}

.title
{
  font-size: 48px;
  padding-top: 25px;
  padding-bottom: 140px;
  font-weight: bold;
  color: #aef682;
  letter-spacing: 2px;
}

p
{
  font-size: 22px;
  padding-top: 40px;
}

.link
{
  font-weight: normal;
  font-size: 22px;
  padding-bottom: 30px;
}

.main-div
{
  color: #aef682;
  background-color: #282828;
  margin: 100 100 100 0px;
  padding: 20px 30px;
}
