<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>
	{% load static %}
	<!-- Fontawesome CDN -->
	<script src="https://kit.fontawesome.com/0c287f6377.js" crossorigin="anonymous"></script>
<link rel="icon" href="{% static 'favicon.ico' %}">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="{% static 'css/signup_style.css' %}">
</head>

<body class="BODY">
	<h1 class="title">SIGN UP !</h1>
	<br/><br/>

	{% if error %}
	<h3 class="alert alert-danger">{{ error }}</h2>
	{% endif %}

	<form method="POST" action="{% url 'signup' %}">
		{% csrf_token %}
		<p class="USER">USERNAME:</p>
		<input type="text" name = 'username'/>

		<p class="USER">PASSWORD:</p>
		<input type="password" name = 'pass1'/>

		<p >CONFIRM PASSWORD:</p>
		<input type="password" name = 'pass2'/>
		<br/>

		<button type="submit" name="button" class="btn-primary">Create Account</button>
	</form>

	<p class="END">Already An User ? <a href="{% url 'login' %}">Click Here To Continue</a> </p>

</body>

</html>
